{% extends 'layout.njk' %}
{% block content %}
<hr>
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestros cursos</h2>
            </div>

        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/white-javacode.jpg"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Introducción a la programación (JAVA)</a>
                </h3>
                <p>Reconocido por su legibilidad y simplicidad, Java es uno de los lenguajes de programación más ampliamente adoptados en la industria del software, Java es la base para el desarrollo de aplicaciones en Android, web y de escritorio.
                  Integrate a nuestro curso y aprende de los mejores, con los ultimos estandares usados en la industria.</p>
                <br>

                <div class="btn-group pull-right bottom-align-text" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwWXNRVDFOUlpVUkk">Saber más</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/nodejsdev.png"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Desarrollo Web con Node JS</a>
                </h3>
                <p>El desarrollo Web es ampliamente solicitado en las empresas y Node JS se presenta como una plataforma altamente escalable, multiplataforma, de rapida integración, entre otras bondades, razones que han hecho que node JS sea al día de hoy una herramineta altamanente cotizada en la industria.</p>
                <br>

                <div class="btn-group pull-right bottom-align" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/file/d/0B_vl51PcdKKwY0thN3l6MTRPTVE/view?usp=sharing">Saber más</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/matlab.png"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Matlab</a>
                </h3>
                <p>​​Aprende a utilizar una de las herramientas computacionales mas versátiles en la ingeniería.</p>
                <br>

                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwcTBIZHV5RnN0bEk">Saber más</a>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <br>
        <!-- Projects Row -->
        <div class="row">
          <div class="col-sm-6 col-md-4 img-portfolio">
              <a href="#">
                  <img class="img-responsive img-hover" src="../public/images/courses/solid.png"   width="100%" alt="">
              </a>
              <h3>
                  <a href="#">Modelado 3D y manufactura digital</a>
              </h3>
              <p>Sabías que el diseño y la manufactura de un producto están íntimamente ligados, por lo que cuando quieres diseñar un nuevo producto debes de comprender las implicaciones que tiene su fabricación. En Mextech nos preocupamos por que tu prototipo, producto y diseño sean coherentes,tanto  para aplicaciones profesionales como personales.</p>
              <p> Una de las ventajas de nuestro curso es que este curso incluye la fabricación del modelo diseñado en el curso, todo este proceso siempre dirigido por nuestros expertos asesores.</p>
              <br>

              <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwZlZTN29mTDhaa2c">Saber más</a>
              </div>
          </div>
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/automotive.jpg"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Diagnóstico con escáner</a>
                </h3>
                <p>Los escáners automótrices son una poderosa herramienta  de diagnóstico si se cuentan con los conocimientos y entrenamientos adecuados, el objetivo de este curso es proporcionar los conocimientos necesarios del sistema fuel inyection, pruebas activas y pasivas de los sistemas OBD, así como desarrollar las habilidades  de uso y manejo del escaner automotriz. </p>
                <p>Este curso se ha pensado en orientar a los participantes en las pruebas que son requeridas por la nueva norma de verificación vehicular de la ciudad de México y zona metropolitana. </p>
                <br>

                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwYnRTSWFZM3U2Z0U">Saber más</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/arduino.png"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Arduino práctico</a>
                </h3>
                <p>Aprende a programar la plataforma de hardware libre más utilizada en el mundo y expande tus horizontes.</p>
                <br>

                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwZjdzSGJjSXliMTQ">Saber más</a>
                </div>
            </div>
        </div>
        <br>
        <!-- Projects Row -->
        <!--div class="row">

            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/tecnologia3.jpg"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Electrónica automotriz</a>
                </h3>
                <p>Los nuevos modelos de automoviles exigen a los técnicos en diagnotico automotriz no solo cuenten con bases en electricidad y mecánica, ahora es realmente importante tener un conocimiento en electrónica.</p>
                <p> El objetivo de este curso en introduccir al participante en el mundo de la electrónica analógica y digital en un contexto práctico orientado a la industría del diagnóstico automotriz. </p>
                <br>

                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwWXNRVDFOUlpVUkk">Saber más</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/labview.png"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Intrumentación con LabView</a>
                </h3>
                <p>​Crea tu propio laboratorio virtual de una manera rápida y sencilla. Aprende con nosotros a utilizar LabVIEW</p>
                <br>

                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwWXNRVDFOUlpVUkk">Saber más</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="../public/images/courses/codecomputer.jpeg"   width="100%" alt="">
                </a>
                <h3>
                    <a href="#">Introducción a la programación (C++)</a>
                </h3>
                <p>​Considerado el lenguaje que todos los ingenieros deben de conocer. Aprende con nosotros a programar en Lenguaje C.</p>
                <br>

                <div class="btn-group pull-right" role="group" aria-label="...">
                  <a class="btn btn-primary" href="https://drive.google.com/open?id=0B_vl51PcdKKwWXNRVDFOUlpVUkk">Saber más</a>
                </div>
            </div>

        </div-->


        <hr>

        <div class="row">
          <div class="col-xs-12 col-sm-offset-4 col-sm-4 text-center">
            <a href="https://goo.gl/forms/MTE0C1Z8lna3cFCt2" class="btn btn-primary btn-md" role="button">Inscibirse ahora...</a>
          </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock%}
