{% extends 'layout.njk' %}
{% block content %}
<hr>
<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="../public/images/logo.png" alt="Inicio" style="width:450px;height:75px;">
                        <h3>Cursos, asesoría y manufactura digital</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/courses" class="btn btn-default btn-lg"><i class="fa fa-university fa-fw"></i> <span class="network-name">Cursos</span></a>
                            </li>
                            <li>
                                <a href="/services" class="btn btn-default btn-lg"><i class="fa fa-cubes fa-fw"></i> <span class="network-name">Impresión 3D</span></a>
                            </li>
                            <li>
                                <a href="/services" class="btn btn-default btn-lg"><i class="fa fa-check fa-fw"></i> <span class="network-name">Asesoría</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cursos técnicos</h2>
                    <p class="lead">En nuestro equipo contamos con numerosos expertos en tecnología, es por esto que es nuestra misión acercar el conocimiento  mas actual a toda persona interesada en adquirir conocimientos técnicos en:</p>
                    <ul>
                      <li>Lenguajes de programación</li>
                      <li>Electrónica</li>
                      <li>Diagnóstico automotriz</li>
                      <li>Modelado 3D</li>
                    </ul>
                    <br/>
                    <div class="text-center">
                      <a href="/courses" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../public/images/cursos.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Manufactura Digital<br/>Modelado 3D</h2>
                    <p class="lead">Mextech puede apoyarte y guiarte en el proceso completo de fabricación de piezas y modelos por medio de impresión 3D, contamos con diferentes calidades. Nuestra experiencia nos respalda ampliamente si tienes alguna duda o comentario no dudes en contactarnos.</p>
                    <br/>
                    <div class="text-center">
                      <a href="/services" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../public/images/3dprint.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Asesoría especializada</h2>
                    <p class="lead">Si ya cuentas con un proyecto en mente o ya te encuentras desarrollandolo, no dudes en contactarnos nosotros podemos apoyarte dandote asesoría en la siguientes áreas:</p>
                    <ul>
                      <li>Desarrollo de plataformas WEB</li>
                      <li>Desarrollo de electrónica</li>
                      <li>Diagnóstico automotriz</li>
                      <li>Fabricación de modelos y diseño 3D</li>
                    </ul>
                    <br/>
                    <div class="text-center">
                      <a href="/services" class="btn btn-primary">Saber más</a>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../public/images/asesoria.jpg" alt="">
                </div>
            </div>


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	{# <a  name="contact"></a>
    <div class="banner"> #}

        <div class="container">
            <div class="row">
                <div class="col-lg-offset-5 col-md-3">
                    <label class="lead text-strong"> Siguenos tambien en...</label>
                </div>
                <div class="col-lg-4">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://es-la.facebook.com/MexPrin3r/" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-lg"></i><span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/3DEveryThINGRP" class="btn btn-default btn-lg"><i class="fa fa-youtube-square fa-lg"></i><span class="network-name">Youtube</span></a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    {# </div> #}
    <!-- /.banner -->

    {% endblock %}
