{% extends 'layout.njk' %}
{% block content %}
<hr>

<!-- Page Content -->
 <div class="container">


   <!-- Page Heading/Breadcrumbs -->
   <div class="row">
       <div class="col-lg-12">
           <h2 class="page-header">Nuestros productos</h2>
       </div>

   </div>

   <div class="row">
     <div class="col-sm-12 col-md-6">
       <img class="img-responsive img-hover" src="../public/images/products/grid2.jpg" alt="Grid II para profesionales">
     </div>
     <div class="col-sm-12 col-md-6">
       <h3>Grid 2</h3>
       <h4>Para el profesional</h4>
          <p>Para usuario con requerimientos mas exigentes y que desean obtener la mejor calidad posible en las piezas fabricadas, se encuentra disponibel con 1 o 2 extrusores.</p>
          <p>La compra incluye 2 rollos de 1kg de material, enrega a domicilio garactizada, asesoria y capacitación incluidos.</p>
          <br/>
          <p>Caracteristicas</p>
          <ul>
            <li>Filamento 1.75 ABS/PLA/NYLON</li>
            <li>Resolución. 0.1 mm</li>
            <li>Volumen de trabajo(1 cabezal):235x210x180mm</li>
            <li>Volumen de trabajo(2 cabezales):200x210x180mm</li>
            <li>Dimensiones : 520(L) x 520(P) x 580(A) [mm]</li>
            <li>Soporte para MacOS,Windows, Linux</li>
          </ul>
          <br/>
          <h3 class="price">Desde  $26990<sup>.00</sup></h3>
       <a class="btn btn-primary" href="/contact">Solicitar cotización</i></a>
     </div>
   </div>

   <div class="row">
     <div class="col-sm-12 col-md-6">
       <img class="img-responsive img-hover" src="../public/images/products/zcube.jpg" alt="Grid II para profesionales">
     </div>
     <div class="col-sm-12 col-md-6">
       <h3>Zcube</h3>
       <h4>Accesible y con funcionalidad completa.</h4>
          <p>Cuenta con  todas las caracteristicas de su hermana mayor a un precio mas asequible, se encuentra disponibel con 1 o 2 extrusores.</p>
          <p>La compra incluye 1 rollo de 1kg de material, enrega a domicilio garactizada, asesoria y capacitación incluidos.</p>
          <br/>
          <p>Caracteristicas</p>
          <ul>
            <li>Filamento 1.75 ABS/PLA/NYLON</li>
            <li>Resolución. 0.1 mm</li>
            <li>Volumen de trabajo(1 cabezal):235x210x180mm</li>
            <li>Volumen de trabajo(2 cabezales):200x210x180mm</li>
            <li>Dimensiones : 405(L) x 405(P) x 410(A) [mm]</li>
            <li>Soporte para MacOS,Windows, Linux</li>
          </ul>
          <br/>
          <h3 class="price">Desde  $16490<sup>.00</sup></h3>
       <a class="btn btn-primary" href="/contact">Solicitar cotización</i></a>
     </div>
   </div>

   <div class="row">
     <div class="col-sm-12 col-md-6">
       <img class="img-responsive img-hover" src="../public/images/products/rollos.jpg" alt="Grid II para profesionales">
     </div>
     <div class="col-sm-12 col-md-6">
       <h3>Rollos PLA y ABS</h3>
       <h4>Consumibles de la mejor calidad</h4>
        <p>recuerda que  buena parte de la calidad de las pirzas impresas en 3D dependen de la calidad de los consumibles.
          Todos nuestros rollos vienen sellados hermeticamente, pra mantener su excelente calidad</p>

          <br/>
          <p>Caracteristicas</p>
          <ul>
            <li>Filamento 1.75mm ABS/PLA</li>
            <li>Diversos colores: negro, blanco, rojo, azul, plata y oro</li>
            <li>1 kg material</li>
          </ul>
          <br/>
          <h3 class="price">$499<sup>.99</sup></h3>
       <a class="btn btn-primary" href="/contact">Solicitar cotización</i></a>
     </div>
   </div>

 </div>
 <!-- /.container -->
{% endblock %}
